{% extends 'portfolio/base.html' %}
{% block content %}
  <h2>Artigos</h2>
  {% if is_autor %}
    <p><a href='{% url "novo_artigo" %}'><button>Escrever novo Artigo</button></a></p>
  {% endif %}
  <section>
    {% for artigo in artigos %}
      <article>
        <header>
          <h3><a href='{% url "artigo_detalhe" artigo.id %}'>{{ artigo.titulo }}</a></h3>
          <p>Por <strong>{{ artigo.autor.username }}</strong> em {{ artigo.data_criacao|date:'d/m/Y' }}</p>
        </header>
        {% if artigo.fotografia %}
          <img src='{{ artigo.fotografia.url }}' alt='{{ artigo.titulo }}' style='max-width: 400px;'>
        {% endif %}
        <p>{{ artigo.texto|truncatewords:50 }}</p>
      </article>
    {% empty %}
      <p>Ainda nao ha artigos publicados.</p>
    {% endfor %}
  </section>
{% endblock %}
